In [1]:
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
import pandas as pd

In [3]:
from datetime import datetime as dt
import ambiente as ab

In [4]:
from meta import Meta
meta = Meta()
meta.set_meta('__datetime__', dt(2020,6,16,16,34))
meta.set_meta('__credits__',['CWOJR'])
meta.set_meta('__author__', 'jrCleber')

In [5]:
from pathlib import Path as pth

# Trabalhando com o arquivo covid_work_int_2020-06-15.xlsx

In [6]:
covid_work = pd.read_excel(ab.ambiente.file_data_ambiente())
covid_work.head()

SELECIONE O DATASET:
____________________________________________________________
C:\Users\clebe\Desktop\Python\Analises\002 - Dados Preparados
(0) para para o Dataset: covid_work_int_2020-06-16.xlsx
(1) para para o Dataset: covid_work_object_2020-06-16.xlsx
(2) para para o Dataset: hist_covid19br_2020-06-15.xlsx
____________________________________________________________
------------------------------------------------------------
Escolha: 0

,regiao,estado,municipio,nomeRegiaoSaude,data,semanaEpi,casosNovos,obitosNovos,populacaoTCU2019_int
0,Norte,RO,Alta Floresta D'Oeste,ZONA DA MATA,2020-03-27,13,0,0,22945
1,Norte,RO,Alta Floresta D'Oeste,ZONA DA MATA,2020-03-28,13,0,0,22945
2,Norte,RO,Alta Floresta D'Oeste,ZONA DA MATA,2020-03-29,14,0,0,22945
3,Norte,RO,Alta Floresta D'Oeste,ZONA DA MATA,2020-03-30,14,0,0,22945
4,Norte,RO,Alta Floresta D'Oeste,ZONA DA MATA,2020-03-31,14,0,0,22945

In [7]:
covid_work.dtypes

regiao                          object
estado                          object
municipio                       object
nomeRegiaoSaude                 object
data                    datetime64[ns]
semanaEpi                        int64
casosNovos                       int64
obitosNovos                      int64
populacaoTCU2019_int             int64
dtype: object

## Configurando as datas

In [8]:
codid_work_date = covid_work.loc[:, ['data', 'semanaEpi', 'casosNovos','obitosNovos']]

In [9]:
codid_work_date['dia'] = codid_work_date.data.dt.day
codid_work_date['mes'] = codid_work_date.data.dt.month
codid_work_date['ano'] = codid_work_date.data.dt.year

In [10]:
codid_work_date.head()

        data  semanaEpi  casosNovos  obitosNovos  dia  mes   ano
0 2020-03-27         13           0            0   27    3  2020
1 2020-03-28         13           0            0   28    3  2020
2 2020-03-29         14           0            0   29    3  2020
3 2020-03-30         14           0            0   30    3  2020
4 2020-03-31         14           0            0   31    3  2020

## Agrupando por data

In [11]:
covid_date_group = codid_work_date.groupby(['ano','mes','semanaEpi','dia']).sum()
covid_date_group.head(20)

                        casosNovos  obitosNovos
ano  mes semanaEpi dia
2020 3   13        27            0            0
                   28         3843          112
         14        29          361           22
                   30          313           23
                   31         1093           42
     4   14        1          1152           42
                   2          1041           57
                   3          1184           60
                   4          1185           73
         15        5           823           54
                   6           943           69
                   7          1789          124
                   8          2147          134
                   9          1846          128
                   10         1834          123
                   11         1104           65
         16        12         1389           94
                   13         1385          108
                   14         1762          208
                   15         3149          204

In [12]:
#exportando para insigths
insigths = pth.home() / 'Desktop' / 'Python' / 'Analises' / '005 - Insigths'
name = 'covid_data_group.xlsx'
if pth(insigths).exists():
    covid_date_group.to_excel(insigths/name, encoding='latin-1', index=True)

## Agrupando por regiões

In [14]:
covid_regiao = covid_work.loc[:,['regiao','estado','nomeRegiaoSaude','municipio','casosNovos','obitosNovos','populacaoTCU2019_int']]
covid_regiao_group = covid_regiao.groupby(['regiao','estado','nomeRegiaoSaude','municipio']).agg(['sum','mean','min','max'])
covid_regiao_group.head(10)

                                                        casosNovos  \
                                                               sum
regiao       estado nomeRegiaoSaude  municipio
Centro-Oeste DF     DISTRITO FEDERAL Brasília                23684
             GO     CENTRAL          Abadia de Goiás            17
                                     Anicuns                    16
                                     Avelinópolis                1
                                     Brazabrantes                2
                                     Campestre de Goiás          1
                                     Caturaí                     1
                                     Damolândia                  2
                                     Goianira                    6
                                     Goiânia                  3188

                                                                               \
                                                               mean min   max
regiao       estado nomeRegiaoSaude  municipio
Centro-Oeste DF     DISTRITO FEDERAL Brasília            292.395062   0  1642
             GO     CENTRAL          Abadia de Goiás       0.209877  -1     6
                                     Anicuns               0.197531  -1     5
                                     Avelinópolis          0.012346  -1     1
                                     Brazabrantes          0.024691  -1     2
                                     Campestre de Goiás    0.012346  -1     1
                                     Caturaí               0.012346   0     1
                                     Damolândia            0.024691   0     1
                                     Goianira              0.074074  -4     5
                                     Goiânia              39.358025  -1   337

                                                        obitosNovos            \
                                                                sum      mean
regiao       estado nomeRegiaoSaude  municipio
Centro-Oeste DF     DISTRITO FEDERAL Brasília                   319  3.938272
             GO     CENTRAL          Abadia de Goiás              0  0.000000
                                     Anicuns                      0  0.000000
                                     Avelinópolis                 0  0.000000
                                     Brazabrantes                 0  0.000000
                                     Campestre de Goiás           0  0.000000
                                     Caturaí                      0  0.000000
                                     Damolândia                   0  0.000000
                                     Goianira                     0  0.000000
                                     Goiânia                     89  1.098765

                                                                 \
                                                        min max
regiao       estado nomeRegiaoSaude  municipio
Centro-Oeste DF     DISTRITO FEDERAL Brasília             0  22
             GO     CENTRAL          Abadia de Goiás      0   0
                                     Anicuns              0   0
                                     Avelinópolis         0   0
                                     Brazabrantes         0   0
                                     Campestre de Goiás   0   0
                                     Caturaí              0   0
                                     Damolândia           0   0
                                     Goianira             0   0
                                     Goiânia             -1  10

                                                        populacaoTCU2019_int  \
                                                                         sum
regiao       estado nomeRegiaoSaude  municipio
Centro-Oeste DF     DISTRITO FEDERAL Brasília                      244236708
             GO     CENTRAL          Abadia de Goiás                  710613
                                     Anicuns                         1769850
                                     Avelinópolis                     195777
                                     Brazabrantes                     299943
                                     Campestre de Goiás               294030
                                     Caturaí                          410670
                                     Damolândia                       237978
                                     Goianira                        3587409
                                     Goiânia                       122805153

                                                                           \
                                                            mean      min
regiao       estado nomeRegiaoSaude  municipio
Centro-Oeste DF     DISTRITO FEDERAL Brasília            3015268  3015268
             GO     CENTRAL          Abadia de Goiás        8773     8773
                                     Anicuns               21850    21850
                                     Avelinópolis           2417     2417
                                     Brazabrantes           3703     3703
                                     Campestre de Goiás     3630     3630
                                     Caturaí                5070     5070
                                     Damolândia             2938     2938
                                     Goianira              44289    44289
                                     Goiânia             1516113  1516113


                                                             max
regiao       estado nomeRegiaoSaude  municipio
Centro-Oeste DF     DISTRITO FEDERAL Brasília            3015268
             GO     CENTRAL          Abadia de Goiás        8773
                                     Anicuns               21850
                                     Avelinópolis           2417
                                     Brazabrantes           3703
                                     Campestre de Goiás     3630
                                     Caturaí                5070
                                     Damolândia             2938
                                     Goianira              44289
                                     Goiânia             1516113

In [15]:
#exportando para insigths
name = 'covid_regiao_group.xlsx'
if pth(insigths).exists():
    covid_regiao_group.to_excel(insigths/name, encoding='latin-1', index=True)